$bg-color: #000;
$sup-color: #25E197;
$yellow-rect: #FFD233;
$card-color: #1C1C1E;
$font-color: #FFF;
$border-color: #151515;
$font-section-color: #8E8E98;
$btn-color: #47474C;
$field-color: rgba(142, 142, 152, 0.2);
$field-color-active: rgba(142, 142, 152, 0.3);

$font-name: 'Roboto', Arial, sans-serif;
$font-weight-standart: 400;
$font-style: normal;

$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

$mediatablet: 1439px;
$mediamobile: 767px;
